.detail-card{
    padding: 2rem 0 2rem 0;
    min-height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: aliceblue;
}

.waystocont{
    padding: 64px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    background-color: black;
    position: relative;
}
.waystocont-columns{
    display: flex;
    
}
.waystocont-column{
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 16px;
    text-align: justify;
}

@media (max-width: 32rem){
    .waystocont-columns{
        flex-wrap: wrap;
    }
}