* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(45, 12, 6);
  background: linear-gradient(90deg, rgba(45, 12, 6, 1) 0%, rgba(247, 71, 0, 1) 0%, rgba(244, 240, 225, 1) 100%);
  /* background: rgb(247,71,0);
background: linear-gradient(90deg, rgba(247,71,0,1) 0%, rgba(103,119,100,1) 100%); */
  font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.landing-page {
  padding: 3em 1em;
  text-align: center;
  max-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.club-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-logo span {
  font-size: 3em;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

.club-logo img {
  width: 5em;
}

.event-logo img {
  width: 70%;
}

.event-logo p {
  font-size: 3em;
  font-weight: 700;
  margin: -10px 0;
  text-transform: capitalize;
}

.event-logo span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

.reg-btn {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  transition: all 0.125s ease-in-out;
  text-transform: uppercase;
  line-height: 1;
  font-size: 24px;
  padding: 16px 32px;
  background-image: radial-gradient(ellipse farthest-corner at top left, #ff8c37, #ec3750);
}

.reg-btn:focus,
.reg-btn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 8px 12px rgba(0, 0, 0, 0.125);
  transform: scale(1.0625);
}

.countdown {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.timer {
  margin: 15px 30px;
  width: 120px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  box-shadow: 15px 10px 20px #6660;
  cursor: pointer;
}

.timer p {
  color: #fff;
  font-size: 45px;
  margin: 25px 8px;
}

.timer h6 {
  margin: 0;
  padding: 10px;
  font-size: 1em;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 10px 20px #000;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }

  .timer {
    width: 100px;
  }

  .timer p {
    margin: 15px 8px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    font-size: 16px;
  }
}
