* {
  margin: 0;
  padding: 0;
}

body {
  background: #17171d;
  font-family: 'Lora';
}

.landing-page {
  padding: 3em 1em;
  text-align: center;
  max-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.event-logo img {
  width: calc(100% - 10em);
}

.event-logo p {
  color: #667762;
  font-size: 2em;
  font-weight: 700;
  /* margin: -10px 0; */
  text-transform: capitalize;
}

.event-logo span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  font-size: 1.2em;
}

.club-details {
  display: flex;
  align-items: center;
  justify-content: center;

}
.club-details p {
  color: #667762;
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0;
  text-transform: capitalize;
  }

.club-details span {
  font-size: 4em;
  font-weight: 900;
  color: #bb3327;
  margin-left: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

/* .club-details img {
  width: 5em;
} */

.reg-btn {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  transition: all 0.125s ease-in-out;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5em;
  padding: 0.8em 1em;
  /* background-image: radial-gradient(ellipse farthest-corner at top left, #ff8c37, #ec3750); */
  background-color: #ec3750;
}

.reg-btn:focus,
.reg-btn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 8px 12px rgba(0, 0, 0, 0.125);
  transform: scale(1.0625);
}

.countdown {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.timer {
  margin: 0 1.8em;
  width: 8em;
  background-color:rgba(245,197,168,0.5);
  text-align: center;
  border-radius: 10px;
  box-shadow: 15px 10px 20px #6660;
  cursor: pointer;
}

.timer p {
  color: #b43b25;
  font-size: 3em;
  margin: 0.4em 0;
}

.timer h6 {
  margin: 0;
  padding: 1em;
  font-size: 1.2em;
  background: #b03720;
  color: #fff;
  text-transform: uppercase;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgb(134 110 98) 5px 5px 20px;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 10px;
    }
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 8px;
    }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 6px;
    }

    .club-details {
      flex-direction: column;
    }

    .reg-btn {
      font-size: 1.5em;
      padding: 1em 1.2em;
    }
}

@media only screen and (max-width: 425px) {
  .event-logo {
    margin-top: 10em;
  }

  .event-logo p {
    margin: 2em 0;
  }

  .register {
    margin-top: 10em;
  }

}